@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'quill/dist/quill.snow.css';
   .ql-align-justify {
        text-align: justify;
    }
    .ql-align-center {
        text-align: center;
    }
    .ql-align-right {
        text-align: right;
    }
    .ql-align-left {
        text-align: left;
    }
    .ql-img-left {
        float: left;
        margin-right: 1rem;
    }
    .align-center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .align-right {
        display: block;
        margin-left: auto;
    }
    .align-left {
        display: block;
        margin-right: auto;
    }


    
    
